---
const { aria, dataTab, id, heading, content, first } = Astro.props;

interface Props {
  dataTab: string;
  id: string;
  aria: string;
  heading?: string;
  content?: string;
  first?: boolean;
}
const BUTTON_CLASS =
  "dark:hover:bg-neutral-700 rounded-xl p-4 text-start outline-hidden ring-zinc-500 transition duration-300 hover:bg-neutral-200 focus-visible:ring-3 hs-tab-active:bg-neutral-50 hs-tab-active:shadow-md hs-tab-active:hover:border-transparent dark:ring-zinc-200 dark:focus:outline-hidden  dark:hs-tab-active:bg-neutral-700/60 md:p-5";
---

<button
  type="button"
  class={`${first ? "active " : ""}${BUTTON_CLASS}`}
  id={id}
  data-hs-tab={dataTab}
  aria-controls={aria}
  role="tab"
>
  <span class="flex">
    <slot />
    <span class="ms-6 grow">
      <span
        class="hs-tab-active:text-[#8b0304] dark:hs-tab-active:text-yellow-400 block text-lg font-bold text-neutral-800 dark:text-neutral-200"
        >{heading}</span
      >
      <span
        class="hs-tab-active:text-neutral-600 dark:hs-tab-active:text-neutral-200 mt-1 block text-neutral-500 dark:text-neutral-400"
        >{content}</span
      >
    </span>
  </span>
</button>
